.bg-primary {
  background: #002fa7 !important;
}
.border-primary {
  border-color: #002fa7 !important;
}

.bg-secondary {
  background: #f99c1e !important;
}
.border-secondary {
  border-color: #f99c1e !important;
}
