.bg-primary {
  background: #002fa7 !important;
}
.border-primary {
  border-color: #002fa7 !important;
}

.bg-secondary {
  background: #fdcb74 !important;
}
.border-secondary {
  border-color: #fdcb74 !important;
}

.shadow-primary {
  box-shadow: 0 0 0.5rem #002fa7;
}
.shadow-secondary {
  box-shadow: 0 0 0.5rem #fdcb74;
}

.shadow {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15) !important;
}

.bg-shadow {
  background-color: #ededed;
}

#main {
  background: linear-gradient(white, #f2f2f2);
}
