header #header {
  background: linear-gradient(white, #ffffff3b),
    url(http://louhau.com/estar/system/images2013/louhau.jpg);
  background-size: cover;
}
header #logo {
  margin: 20px 0;
}
header nav {
  font-size: 1.2rem;
  background: #002fa7;
}
header nav li:hover {
  background: #ffffff3b;
}

.news-content > * {
  padding: 0.8vw;
  padding-right: 12%;
}
#carouselNews {
  /*font-size: 1vw;*/
}

.news-content span {
  font-size: 1.2em;
}
.news-content p {
  font-size: 1em;
}
.carousel-control-next,
.carousel-control-prev {
  width: 8% !important;
}
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}
.carousel-indicators {
  bottom: -2.5rem;
}
.carousel-indicators li {
  width: 3em;
  height: 5px;
  background-color: black;
}
