* {
  font-family: "Microsoft JhengHei";
}
header #header {
  background: linear-gradient(white, #ffffff3b),
    url(http://louhau.com/estar/system/images2013/louhau.jpg);
  background-size: cover;
}
header #logo {
  margin: 20px 0;
}
header nav {
  font-size: 1.2rem;
  background: #002fa7;
}
header nav li:hover {
  background: #ffffff3b;
}

/*------------------dropdown menu--------------------*/

.dropdown-menu.show {
  display: block;
  border-radius: 0 !important;
  top: 0;
}
@media (min-width: 576px) {
  .position-sm-absolute {
    position: absolute !important;
  }
  .dropdown-menu.show {
    display: none;
  }
  .dropdown:hover .dropdown-menu,
  .dropdown-menu:hover {
    display: block;
    border-radius: 0 !important;
    top: 100%;
  }
}
/*-------------news component------------*/
.blue-shadow {
  box-shadow: 0px 0px 0.5em 0.1em #618bf7;
}
.news-content > * {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 12%;
}
.news-content span {
  font-size: 1.2em;
}
.news-content p {
  font-size: 1em;
}
.carousel-control-next,
.carousel-control-prev {
  width: 8% !important;
  filter: invert(100%);
}
.carousel-indicators {
  bottom: -2.5rem;
}
.carousel-indicators li {
  width: 3em;
  height: 5px;
  background-color: black;
  opacity: 0.2;
}
/*------------------ login box --------------------*/
#login-tab-content {
  border-top: 0 !important;
}
#login-tab .nav-link.active,
#login-tab-content .tab-pane .btn {
  color: white;
}
#login-tab a#teacher-tab:not(.active),
#login-tab-content .tab-pane#teacher {
  color: #003300;
}
#login-tab a#teacher-tab.active,
#login-tab-content .tab-pane#teacher .btn {
  background: #335c33;
}
#login-tab a#student-tab:not(.active),
#login-tab-content .tab-pane#student {
  color: #1faacd;
}
#login-tab a#student-tab.active,
#login-tab-content .tab-pane#student .btn {
  background: #36bbdc;
}
/*--------------------------------------------*/
