* {
  font-family: "Microsoft JhengHei";
}
/*-----------layout class--------------*/
@media (min-width: 768px) {
  .position-md-absolute {
    position: absolute !important;
  }
}
@media (min-width: 992px) {
  .col-lg-3_5 {
    flex: 0 0 29.166666666%;
    max-width: 29.166666666%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .col-xl-5_5 {
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
/*------- banner --------*/
#header {
  background: linear-gradient(white, #ffffff3b),
    url(http://louhau.com/estar/system/images2013/louhau.jpg);
  background-size: cover;
}
#social-media .btn {
  width: 45px;
}
.popover-content {
  min-width: 150px;
  min-height: 150px;
}
.qr-code {
  width: 25%;
}
/*-----------nav bar----------------*/
header nav li.nav-item:hover {
  background: #ffffff3b;
}
li.nav-item {
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  header nav li.nav-item {
    font-size: 1.5rem;
  }
}
/*------------------collapse menu--------------------*/
.collapse,
.collapsing {
  z-index: 99;
  display: block;
  font-size: 1rem;
}
#collapseMenu3 h6 {
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .nav-collapse {
    height: auto;
    font-size: 1rem;
    display: block !important;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
  }
  header nav li.nav-item:hover .nav-collapse {
    visibility: visible;
    opacity: 1;
  }
  #collapseMenu1,
  #collapseMenu2,
  #collapseMenu3 {
    width: 300%;
  }
  #collapseMenu2 {
    left: -100%;
  }
  #collapseMenu3 {
    left: -200%;
  }
}
@media (min-width: 992px) {
  .nav-collapse {
    font-size: 1.1rem;
  }
}
/*-------------news component------------*/
.blue-shadow {
  box-shadow: 0px 0px 0.5em 0.1em #618bf7;
}
.news-content > * {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 12%;
}
.news-content span {
  font-size: 1.2em;
}
.news-content p {
  font-size: 1em;
}
.carousel-control-next,
.carousel-control-prev {
  width: 8% !important;
  filter: invert(100%);
}
.carousel-indicators {
  bottom: -2.5rem;
}
.carousel-indicators li {
  width: 3em;
  height: 5px;
  background-color: black;
  opacity: 0.2;
}
/*------------------ login box --------------------*/
/*ul#login-tab a.active.nav-link {
  border-bottom-color: white;
}
*/
#login-tab-content {
  border-top: 0 !important;
}
#login-tab .nav-link.active,
#login-tab-content .tab-pane .btn {
  color: white;
}
a#teacher-tab:not(.active),
.tab-pane#teacher {
  color: #003300;
}
a#teacher-tab.active,
.tab-pane#teacher .btn {
  background: #335c33;
}
a#student-tab:not(.active),
.tab-pane#student {
  color: #1faacd;
}
a#student-tab.active,
.tab-pane#student .btn {
  background: #36bbdc;
}
/*--------------------------------------------*/
